<!DOCTYPE html>
<html>
  <head>
    <title>PZ tools</title>
    <style>
      /* Style for the horizontal navbar */
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
    </style>
  </head>
  <body>

<!-- Horizontal navbar -->
<ul>
    <li><a href="/reports_form">Generate reports</a></li>
    <li><a href="/twitter_topic_screening">Twitter topic screening</a></li>
    <li><a href="/twitter_user_screening">Twitter user screening</a></li>
    <li><a href="/stocks_screening">Stocks screening</a></li>
    <li><a href="/trades_analytics">Trades analytics</a></li>
  </ul>
  <br>
  
  <!-- Content section -->
  <div class="content">
    {% block content %}{% endblock %}
  </div>

  </body>
</html>